.markdown {
  @apply text-xl leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-4xl mt-12 mb-4 leading-tight font-bold;
}

.markdown h3 {
  @apply text-3xl mt-8 mb-4 leading-tight;
}
